.main_container{
    display: flex;
  
}

.left_container{
    background-color: cadetblue;
    height: 100%;
    width: 50%;
}

.right_container{
    background-color: chartreuse;
    height: 100%;
    width: 50%;    
}
.left_head{
    display: flex;
    justify-content: space-around;
}

#photo{
    width: 170px;
    height: 170px;
    margin-left: 20px;
    margin-top: 20px;
}

.name{
    width: 165px;
}

h1{
    font-size: 24px;
    margin-bottom:3px;
    font-family: 'Pacifico', cursive;  
}

.name_2{
    font-size: 16px;
    margin-bottom: 3px;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    width: 340px;
    margin-left: 35px;
}

.address, .tel, .mail, .web{
    margin-top: 10px;
}

h2{
    margin-bottom: 0px;
}

.skills{
    width: 340px;
    margin-left: 35px;
}

.personal_quality{
    width: 340px;
    margin-left: 35px;
}


