/* 0-0-0-1 =1*/
div{
    font-size: 48px;
    color: red !important;/*!important - задаёт максимальновозможную 
    специфичность для данного ссвойства*/
}
 /* 0-1-0-0 =100*/
#world{
    color: yellow;
}

/*специфичность*/
/*задаётся 4 числовыми значениями*/
/* 1-0-3-4 - пример*/
/*
1число - наличие у элимента атрибута style
2число - наличие и количество в селекторе идентификаторов (id)
число равно количеству id
#id1>#id2{}
0-2-0-0
3число - наличие и количество классов в селекторе
пример:
#id1 ~.class1.class2{}
0-1-2-0 
4 число - наличие и количество в селекторе элементов (тегов и атрибутов)
пример:
div > .class1 p> a.class2 #id{}
0 - 1 - 2 - 3
*/
/* 0-1-0-1

https://specificity.keegan.st/

*/
div#world{
    color: green;
}
#normal{
/*position - овечает за положение элементов на странице*/
position: static;/*static - в нормальном потоке*/
/*inherit -  значение свойства position будет наследоваться от
родительского блока
initial - значение по умолчанию, установленная браузером для этих 
элементов
*/
}
#relative {
    /*relative - сохраняет отрисовку элементов в нормальном потоке
    но при этом позволяет перемещать эти элементы по осям
    перемещение по осям задаётся при помощи свойств top,botton,left и right*/
    position: relative;
    left: 200px;
    top: 100px;
}
#fixed{
    /*
    fixed - убирает элементы из нормального потока 
    и позиционирует их относительно окна браузера
    начальная позиция элементов задаётся исходя из их положения в нормалном потоке.
    положение элементов можно изменить при помощи свойств top,left,right и bottom
    */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    border-radius: 50%;
    padding:20px ;
}
body{
    height: 2000px;
}
#absolute{
    /*
    fabsolute - убирает элементы из нормального потока 
    и позиционирует их относительно документа
    начальная позиция элементов задаётся исходя из их положения в нормалном потоке.
    положение элементов можно изменить при помощи свойств top,left,right и bottom
    */
    position: absolute;
    background: rgb(11, 99, 11);
    padding: 100px;
    top: 50px;
    left: 100px;
    z-index: 1;/*9999- максимальное значение*/

}

#absolute2{
    position: absolute;
    background: rgb(122, 101, 172);
    padding: 50px;
    top: 280px;
    left: 250px;

}
/* цвета в css
цвета можно задавать 3 способами:
1.при помощи названия цвета (red, blue)
2.при помощи 16-го кода цвета(#FAF1AB, #FA1) r=12, g=134, b=67 == #0C8643

#FA1 = #FFAA11
3. при помощи псевдофункций rgb и  rgba (hls)
rgb(144, 34, 89)
rgba(144,34,89, 0.7) - четвёртый параметр (альфа) прозрачность
от 0 до 1
*/
p{
    background: #0C8643;
    color: #fa1;
    color: #ffaa11;
    background: rgba(15, 25, 18, 0.5);
}